@charset "utf-8";

/*==========================================================================
# reset - ブラウザの差異や不要なスタイルを無くすためのスタイル
========================================================================== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
  // scroll-behavior: smooth;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

//move from utils,module.scss
//colors
$primary-color:#3EA1D1;
$font-color:#333;


button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

body{
  font-size: 16px;
  color: $font-color;
  font-family: 'ヒラギノ明朝 ProN', serif;
  line-height: 1.6875;
}

img{
  width: 100%;
}

input[type="text"] ,
input[type="email"] ,
textarea {
  width: 100%;
  border: 0;
  font-size: 16px;
  padding: .2em, .5em;
  box-shadow: 5px 6px 15px rgba(96, 96, 96, 0.16);
  border-radius: 2px;
}

input[type="text"] ,
input[type="email"]{
  height: 40px;
}

textarea{
  min-height: 122px;
  resize: vertical;
}


