$primary-color:#3EA1D1;
$font-color:#333;

.list{
  margin-top: 64px;
  display: flex;
  justify-content: space-between;
  flex: 0 0 28.3333%;
}


.item_link{
   display: block;
   color:$font-color;
   background: #fff;
   box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);

   &:hover{
   .item_picture > img{
     transform: scale(1.05);
   }
   }
}

.item_picture{
   overflow: hidden;

   > img{
     transition: transform .4s;
   }
}

.item_body{
  padding: 32px 12px;
  font-weight: bold;
  text-align: center;
}

.item_title{
  white-space: pre-line;
}
