$breakpoints:(
  'sm': 'screen and (max-width: 767px)',
  'md': 'screen and (min-width: 768px)',
) !default;

// MediaQuery
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//colors
$primary-color:#3EA1D1;
$font-color:#333;

.feature{
  @include mq('sm'){
    max-width: 340px;
  }
}

.list{
  @include mq('md'){
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    flex: 0 0 28.3333%;
  }

  @include mq('sm'){
    margin-top: 48px;
  }
}

.item{
  @include mq('sm'){
    margin-bottom: 49px;

    &:last-child{
      margin-bottom: 0;
    }
  }
}


.item_link{
   display: block;
   color:$font-color;
   background: #fff;
   box-shadow: 3px 3px 15px rgba(96, 96, 96, 0.16);

   @include mq('md'){
     &:hover{
     .item_picture > img{
       transform: scale(1.05);
     }
     }
   }
}

.item_picture{
   overflow: hidden;

   > img{
     transition: transform .4s;
   }
}

.item_body{
  padding: 32px 12px;
  font-weight: bold;
  text-align: center;
}

.item_title{
  white-space: pre-line;
}
