//breakpoints
$breakpoints:(
  'sm': 'screen and (max-width: 767px)',
  'md': 'screen and (min-width: 768px)',
) !default;


// MediaQuery
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//colors
$primary-color:#3EA1D1;
$font-color:#333;

.header{
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header_inner{
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: content-box;

  @include mq('md'){
    display: flex;
    align-items: center;
    padding: 0 40px;
  }

  @include mq('sm'){
    height: 60px;
    padding: 0;
  }
}

.logo{
  @include mq('sm'){
    text-align: center;
    padding-top: 15px;
  }
}

.nav{
  @include mq('md'){
    margin-left: auto;
  }

  @include mq('sm'){
    position: fixed;
    bottom: 0;
    width: 100%;
  }

}

.nav_list{
  display: flex;
}

.nav_item{
  @include mq('md'){
    &+&{
      margin-left: 46px;
    }
  }

  @include mq('sm'){
    flex: 1;
  }

}

.nav_item_link{
  display: block;
  color: $font-color;
  letter-spacing: .1em;
  transition: all 0.3s ease 0;

  @include mq('md'){
    height: 70px;
    line-height: 70px;
    &:hover{
      color: $primary-color;
    }
  }

  @include mq('sm'){
    height: 50px;
    line-height: 50px;
    background-color:#fff;
    color: #333333;
    text-align: center;
    font-size: 14px;
  }

}
