.top{
  position: relative;
}

// .picture{
//   padding-top: 55%;
//   background: url(/img/top.png) top right / 82.5% no-repeat;
// }

.message{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  padding: 82px 44px 90px 40px;
}

.message_title{
  font-size: 26px;
  font-weight: bold;
}

.message_text{
  margin-top: 18px;
}
