$primary-color:#3EA1D1;
$font-color:#333;

.footer{
  background:#F7F7F7;
  padding: 48px 0 16px;
}

.logo{
  width: 120px;
  margin: 0 auto;
}

.nav_list{
  display: flex;
  justify-content: center;
  margin-top: 8px;
}


.nav_item{
  margin-left: 30px;
}

.nav_item_link{
  font-size: 12px;
  color: $font-color;
  display: block;
  padding: 1em 0;
  transition: opacity .4s;

  &:hover{
    opacity: 0.7;
  }
}

.sns_list{
  text-align: center;
  margin-top: 8px;
}

.sns_item{
  display: inline-block;

  &+&{
    margin-left: 40px;
  }
}

.sns_item_link{
  color: $primary-color;
  font-size:24px;
  transition: opacity .4s;
  &:hover{
      opacity: 0.7;
  }
}

.copyright{
  text-align: center;
  font-size: 12px;
  margin-top: 24px;
  color: #888888;
}

