$breakpoints:(
  'sm': 'screen and (max-width: 767px)',
  'md': 'screen and (min-width: 768px)',
) !default;


// MediaQuery
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$primary-color:#3EA1D1;
$font-color:#333;

.footer{
  background:#F7F7F7;
  padding: 48px 0 16px;

  @include mq('sm'){
    padding: 36px 0 16px;
  }
}

.logo{
  width: 120px;
  margin: 0 auto;
}

.nav_list{
  @include mq('md'){
    display: flex;
    justify-content: center;
  }

  @include mq('sm'){
    margin-top: 16px;
  }
}


.nav_item{
  @include mq('md'){
    &+&{
      margin-left: 30px;
    }
  }

  @include mq('sm'){
    text-align: center;
  }
}

.nav_item_link{
  font-size: 12px;
  color: $font-color;
  display: block;
  padding: 1em 0;
  transition: opacity .4s;

  @include mq('md'){
    &:hover{
      opacity: 0.7;
    }
  }

  @include mq('sm'){
    padding: .3em 0;
  }

}

.sns_list{
  text-align: center;
  margin-top: 8px;
}

.sns_item{
  display: inline-block;

  &+&{
    margin-left: 40px;
  }
}

.sns_item_link{
  color: $primary-color;
  font-size:24px;
  transition: opacity .4s;

  @include mq('md'){
    &:hover{
        opacity: 0.7;
    }
  }
}

.copyright{
  text-align: center;
  font-size: 12px;
  margin-top: 24px;
  color: #888888;

  @include mq('sm'){
    margin-top: 5px;
  }
}

